@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-v5-latin-300.eot");
    src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
}
body {
    font-size: 14px;
    color: #fff;
    background-image: url("../images/form-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: Poppins;
    margin: 0px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

input {
    border: none;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    display: block;
    font-family: Poppins;
    position: relative;
    z-index: 10; 
}

table {
    border-collapse: collapse;  
    background: #fff;
    border-radius: 10px;
    width: 100%;
    color: #222;
    font-size: 18px;
    

}
th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px 22px;
}
tr:hover {background-color: #f5f5f5;}

.container {
    width: 960px;
    background: rgba(11, 13, 24, 0.5);
    margin: 0px auto;
    border-radius: 10px; 
    padding: 20px 30px;
}
.header {
    align-items: center;
    justify-content: space-between;
    padding: 50px 57px; 
}

.main {
    position: relative; 
}

.booking-form {
    padding: 35px 70px 51px 70px; 
}

.content_container {
    border: 2px solid white;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}
.element {
    background: rgba(0,0,0,0.9);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
}
.element:hover {
    background: rgba(0,0,0,0.7);    
}
.element-left{
    margin: 70px;
}
.element-right{
    margin: 70px; 
}
.link_submit{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
}
.link_submit_button {
    background: #f8ba0f;
    color: #fff;
    font-size: 14px;
    margin: auto;
    padding: 10px 25px;
    cursor: pointer;
    text-decoration: none;  
    border-radius: 10px;  
}
.link_submit_button:hover {
    background-color: #ce9906; 
}

.submit {
    background: #f8ba0f;
    color: #fff;
    font-size: 14px;
    margin-top: 23px;
    padding: 15px 20px;
    cursor: pointer;
}
.submit:hover {
    background-color: #ce9906; 
}
.alart {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  rgba(11, 13, 24, 0.5);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
}

.sidenav a:hover {
    color: #f8ba0f;
}

.dashboard {
    padding: 0px 10px;
    width: 960px;
    background: rgba(11, 13, 24, 0.5);
    margin: 265px;
    border-radius: 10px; 
    margin-top: 0%;
}
